@media screen and (max-width: 1400px) {
  #profile {
    height: 91vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding-left:1rem;
    padding-right:1rem;
    gap:1rem;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 4rem 0 3rem 0;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  flex-direction: row;
  padding: 0 1rem 0 1rem;

  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    /* height: 61vh; */
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  
  .btn-container {
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
  }
  .contact-info-container {
    margin: 1rem;
  }
  .contact-info-upper-container{
    align-items: start;
    flex-direction: column;
    gap:1rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .contact-info-container p{
    word-break: break-all;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    /* height: 46vw; */
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
    /* padding:0 1rem 0 1rem; */
  }
  .about-containers {
    margin-top: 0;
  flex-direction: column;
  padding:0 0.5rem 0 0.5rem;

  }

  .projects-display{
    padding: 0 0.5rem 0 0.5rem;
  }

  /* .projects-display{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  } */
}



@media screen and (min-width: 640px){
  .projects-display{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    padding:2rem;
  }
  .project-card img{
    max-width: 100%;
    aspect-ratio: 12/8;
    object-fit: cover;
  }
  
}

@media screen and (max-width:1024px){
  .projects-display{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width:645px) and (max-width:750px){
  .projects-display{
    grid-template-columns: repeat(2,1fr);
  }
}
